# Windows
*.dll

# Autosaves
auto-save-list/

# Compiled
*.elc

# Packaging
.cask

# Temp files
*~

# ido
ido.last

# projectile
projectile-bookmarks.eld
projectile.cache

# auto-complete
ac-comphist.dat

# wtf?
server/
